{% load static %}

{% include "base.html" %}


<body>
    {% include "navbar.html" %}

    <ul class="cd-hero-slider">

    <!-- Page 1 Gallery One -->
    <li class="selected">
        <div class="cd-full-width">
            <div class="container-fluid js-tm-page-content" data-page-no="1" data-page-type="gallery">
                <div class="tm-img-gallery-container">
                    <div class="tm-img-gallery gallery-one">

                        {% for i in yer %}
                            <div class="grid-item">
                                <figure class="effect-sadie">
                                    <img src="{{ i.resim.url }}" alt="Image" class="img-fluid tm-img">
                                    <figcaption>
                                        <h2 class="tm-figure-title"><span><strong>{{i.bolge}}</strong></span></h2>
                                        <p class="tm-figure-description">{{i.aciklama}}</p>
                                        <a href="{{ i.resim.url }}">View more</a>
                                    </figcaption>
                                </figure>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </li>

<!-- Page 2 Gallery Two -->
<li>
    <div class="cd-full-width">
        <div class="container-fluid js-tm-page-content" data-page-no="2" data-page-type="gallery">
            <div class="tm-img-gallery-container">
                <div class="tm-img-gallery gallery-two">

                    {% for i in gok %}
                        <div class="grid-item">
                            <figure class="effect-sadie">
                                <img src="{{i.resim.url}}" alt="Image" class="img-fluid tm-img">
                                <figcaption>
                                    <h2 class="tm-figure-title"><span><strong>{{i.bolge}}</strong></span></h2>
                                    <p class="tm-figure-description">{{i.aciklama}}</p>
                                    <a href="{{i.resim.url}}">View more</a>
                                </figcaption>
                            </figure>
                        </div>
                    {% endfor %}

                </div>                                 
            </div>
        </div>                      
    </div>
</li>

<!-- Page 3 Gallery Three -->
<li>
    <div class="cd-full-width">
        <div class="container-fluid js-tm-page-content" data-page-no="3" data-page-type="gallery">
            <div class="tm-img-gallery-container">
                <div class="tm-img-gallery gallery-three">
                
                    {% for i in derya %}
                            <div class="grid-item">
                                <figure class="effect-sadie">
                                    <img src="{{i.resim.url}}" alt="Image" class="img-fluid tm-img">
                                    <figcaption>
                                        <h2 class="tm-figure-title"><span><strong>{{i.bolge}}</strong></span></h2>
                                        <p class="tm-figure-description">{{i.aciklama}}</p>
                                        <a href="{{i.resim.url}}">View more</a>
                                    </figcaption>
                                </figure>
                            </div>
                    {% endfor %}
                    
                </div>
            </div> <!-- .tm-img-gallery-container -->
        </div>
    </div>
</li>
</ul> <!-- .cd-hero-slider -->


{% include "footer.html" %}
